site_name: FLINT Documentation

site_url: https://MarcoGrossi92.github.io/FLINT/

theme:
  name: material
  highlightjs: true
  code_style: monokai
  font:
    text: Roboto
    code: Fira Code
  palette:
    - scheme: default
      primary: blue grey
      accent: deep orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: blue grey
      accent: deep orange
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - navigation.top
    - toc.integrate
    - content.code.copy

markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 2-3
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Theoretical Guide: 
    - Overview: theory.md
    - Thermodynamic and Transport Properties : theory_thermo.md
    - Finite-Rate Kinetics: theory_kinetics.md
    - Chemical Equilibrium: theory_equilibrium.md
  - Chemistry Database:
    - Present Mechanisms: database.md
    - New Mechanisms Generation: YTF.md
  - Input Format:
    - Overview: input.md
    - YAML Format: input_yaml.md
    - Native Format: input_native.md
  - Tests & Examples: testing.md
